Debug/
Release/
/.parasoft.dat/
/bin/
/daemon/
/examples/
/wwwfiles/
.vs/
Backup*/
*.exe
*.o
*.pdb
*.obj
*.htm
*.lib
*.ilk
*.dep
*.idb
*.i
*.ncb
*.sln
*.user
*.suo
*.dll
*.manifest
*.exp
*.ipch
*.d
*.aps
*.def
*.rc
*.res
*.pch
*.log
